doctype html
html
    head
        title 始春延期
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js')
        script(src='index.js')
        script.
            $(document).ready(function() {
                $('.spring.clock').FlipClock((Date.now()-1455379200000)/10000, {
                    clockFace: 'DailyCounter'
                });
            });

    body
        br
        .spring.clock
