doctype html
html
    head
        title 404
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include 404.min.css
    body
        #container
            .rotate.a
            .rotate.b
            .rotate.c
            .title 404 
                
        a.button(href='https://gnehs.net') gnehs.net