doctype html
html
    head
        title Facebook Loader
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        include ./../../Jade/_tocasui.jade
        include ./../../Jade/_tags.jade
        +social_tags('Facebook Loader','美麗的讀取畫面','og.png','index.html')
        link(href='style.css',rel='stylesheet')
    body
        .loader
            .a
            .b
            .load