doctype html
html
	head
		title 黏黏安
		meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(charset='utf-8')
		include ./../../Jade/_tocasui.jade
		include ./../../Jade/_tags.jade
		+social_tags('黏黏安','這ㄍ是黏黏安','https://gnehs.net/img/og.png','https://gnehs.net/')

		link(href='style.css',rel='stylesheet')
		link(href='pace_sticy_xiaoan.css',rel='stylesheet')

		script(src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

	body
		header.ts.fluid.big.slate
			.image
				script(src='//gnehs.github.io/RandomPic/randompicture.js')
		.pace.pace-active
			.pace-progress(data-progress='50', data-progress-text='50%', style='-webkit-transform: translate3d(50%, 0px, 0px);')
				.pace-progress-inner
			.pace-activity
